streamlit>=1.36.0
streamlit-option-menu==0.3.12
langchain>=0.3.12
langchain-core>=0.3.25
langchain-openai>=0.2.0
openai
langsmith
python-dotenv
streamlit-antd-components
supabase==2.13.0
pandas==2.2.3
